body {
    margin: 0;                           
    padding: 0;                          
    font-family: 'Quicksand', sans-serif; 
    background-color: #e9b108;            
    color: #5f5b57;   
}                    

header {
    background-color: #e7f0fd;           
    text-align: center;                   
    padding: 30px;                        
    box-shadow: 0 2px 6px rgba(0,0,0,0.05); 
}

nav {
    background-color: #2929f9;            
}

nav ul {
    list-style: none;
    display: flex;                        
    justify-content: center;             
    gap: 25px;
    margin: 0;
    padding: 12px 0;
}

nav ul li a {
    color: #706c61;
    text-decoration: none;
    transition: color 0.4s ease;         
    font-weight: 500;  
}                   

nav ul li a:hover {
    color: #9cb7c5;                       
}

main {
    padding: 30px;                       
}

footer {
    text-align: center;                   
    background-color: #e7f0fd;
    padding: 20px;
    color: #6b6862;
}


section {
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    line-height: 1.8;
}

button {
    background-color: #d9e8fb;
    color: #4a4a48;
    border: none;
    border-radius: 6px;
    padding: 10px 18px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #f9ecec;
 } 
